version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
    commit-message:
      prefix: "Обновление зависимостей: "
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"